.background {
    background-color: #281234;
}
.background-light {
    background-color: #E2C6AB;
}
.color-light {
    color : #E2C6AB;
}
a.color-light:hover {
    text-decoration: none;
    color : #4B8893;
}
.color-green {
    color : #4B8893;
}
a.color-green:hover {
    text-decoration: none;
    color : #E2C6AB;
}
.bold {
    font-weight: 600;
}
.bolder {
    font-weight : 900;
}
.couleur-smooth {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}